html,
body {
    height: 100%;

}

html {

    background-color: #0d0f15;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;

}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 5px;
}

.container__fluid {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: #f5b905;

}

::-webkit-scrollbar-track {
    margin: 9px 0;

    border-radius: 100px;
    border: 1px solid #fff;
}



::-webkit-scrollbar {
    width: 9px;

    overflow-y: visible;

}