@import 'blocks/_global';
@import 'blocks/_reset';
@import 'blocks/_vars';
@import'blocks/header';
@import 'blocks/footer';
@import 'pizza';
@import 'sale';
@import 'blog';


h1 {
    font-family: Oswald, sans-serif;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    font-family: Arial,
        Helvetica,
        sans-serif;
}

.title-foodbox {
    font-size: 15px;
    line-height: 91px;
    padding-left: 24px;
    color: rgb(43, 41, 41);
    display: flex;
}

.logo-svg {
    margin-right: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: $yellow;

}

::-webkit-scrollbar-track {
    margin: 12px 0;
    background: hsla(0, 0%, 100%, .13);
    border-radius: 100px;
    border: 1px solid #fff;
}



::-webkit-scrollbar {
    width: 12px;
    overflow-y: visible;

}



.swiper__slider-inner {

    margin-top: 105px;
    height: 100%;

}

.swiper {
    width: 100%;
    height: 100%;

}

.swiper-wrapper {
    transition-duration: 100ms !important;
}

.swiper-pagination-bullet {
    height: 3px;
    width: 25px;
    border-radius: 0px;

}

:root {
    --swiper-theme-color: #ff8800;
}

.swiper-slide-img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.section-title {

    padding: 15px 0 15px 0;
    background: $yellow;
    width: 100%;

}

.container-title {
    color: $black;
    font-size: 46px;
    line-height: 56px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Roboto
}

.about {
    background-color: $yellow;

    &__wrapp {
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        gap: 40px;
    }

    &__pizerii {
        width: 650px;
    }



    &__foto {
        position: relative;
        width: 600px;

    }



    &__title-text {
        margin-bottom: 40px;
        font-size: 40px;
        font-family: Arial,
            Helvetica,
            sans-serif;
        color: $black;
        line-height: 45px;
        letter-spacing: 1px;
        text-align: left;
    }

    &__text {
        margin-bottom: 30px;
        line-height: 20px;
        letter-spacing: 1px;
        font-size: 14px;
    }
}

.menu {


    &__container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-image: url('../../images/strip_bg.jpg');
        margin-bottom: 40px;
        padding: 40px 0;
        gap: 10px;
    }

    &__card-link {
        max-width: 440px;
        width: 100%;
        border: 4px solid $black;
        margin: 10px 10px;
        background-color: $black;
        position: relative;
    }

    &__card-link:nth-child(2) {
        top: 30px;
    }

    &__card-link:nth-child(4) {
        top: 30px;
    }

    &__card-link:hover {
        border: 4px solid $yellow;
        transition: all 1.5s;
    }

    &__link-img {
        width: 200px;
        height: 200px;
        position: relative;
        left: 180px;
        top: -12px;
    }

    &__link-name {
        font-size: 30px;
        font-family: 'Roboto';
        position: relative;
        left: 40px;
        top: 160px;
        color: $wite;
    }

    &__link-item:hover {
        color: #d9eb54fa;
        text-decoration: none;
    }

    &__link-item {
        cursor: pointer;
    }
}

.marquee {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    padding: 3px 0 3px;
    background-color: $yellow
}

.marquee span {
    color: #363333;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    display: inline-block;
    padding-left: 100%;
    -webkit-animation: marquee 20s infinite linear;
    animation: marquee 20s infinite linear;
}

@-webkit-keyframes marquee {
    0% {
        -webkit-transform: translate(0, 0);
    }

    100% {
        -webkit-transform: translate(-100%, 0);
    }
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0)
    }
}



.discription-drink {
    height: auto;
}

.added-to-cart {
    display: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: #fdbf00;
}

::-webkit-scrollbar-track {
    margin: 12px 0;
    background: hsla(0, 0%, 100%, .13);
    border-radius: 100px;
    border: 1px solid #fff;
}

::-webkit-scrollbar {
    width: 8px;
    overflow-y: visible;
}



::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: #fdbf00;
}

::-webkit-scrollbar-track {
    margin: 12px 0;
    background: hsla(0, 0%, 100%, .13);
    border-radius: 100px;
    border: 1px solid #fff;
}

::-webkit-scrollbar {
    width: 8px;
    overflow-y: visible;
}

.modal-ingridient {
    position: absolute;
    width: 260px;
    background: rgba(252, 252, 250, 0.9);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    z-index: 5;
    max-height: 300px;
    overflow-x: hidden;
    white-space: normal;
    transform: translateY(-100%);
    padding: 12px 20px !important;

}

.modal__inner {

    display: none;
}

.product-add-somathing {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.product-add_title {
    font-size: 18px;
    color: #fdbf00;
}

.product-add-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding-left: 20px;
}

.check-style {
    position: absolute;
    width: 16px;
    height: 16px;
    border: 2px solid #fdbf00;
    margin-left: -20px;
    cursor: pointer;
}

.product-add-checkbox:checked+.check-style::before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background-color: #fdbf00;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.input-lable {
    padding-left: 18px;
    font-family: sans-serif;
    font-size: 14px;
    color: #211c1c;
    cursor: pointer;
}

.product-add_title {
    margin-bottom: 7px;
}

.speach {
    font-family: Oswald, sans-serif;
    font-weight: 700;
    margin-top: 4px;
    text-transform: uppercase;
    font-size: 22px;

}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: #8eaf2b7d;
}

::-webkit-scrollbar-track {
    margin: 1px 0;
    background: hsla(0, 0%, 100%, .13);
    border-radius: 100px;
    border: 1px solid #fff;
}

::-webkit-scrollbar {
    width: 8px;
    overflow-y: visible;
}

.cart-modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    background-color: rgba(62, 82, 101, 0.6);
    z-index: 10;
    display: none;
}



.cart-wrapper {
    width: 50%;
    height: 100vh;
    background: rgb(255, 255, 255);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    display: block;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.cart-wrapper-h4 {
    color: #d9d9d9;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px 0 0 10px;
    text-align: center;
}

.cart-wrapper-item {
    display: block;
    width: 95%;
    height: 29%;
    overflow-y: visible;
    overflow-x: hidden;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    margin: 15px 20px 0 20px;
    border-radius: 7px 7px 7px 7px;

}



.cart-wrapper-content {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: space-around;
    padding: 30px 20px 6px 20px;
    border-bottom: 1px dotted #f8f7f2;
}

.close {
    width: 30px;
    top: -16px;
    right: -11px;
    position: relative;
}

.product-name {
    margin-left: 11px;
    margin-bottom: 5px;
}

.img-product-cart {
    width: 130px;
    height: 130px;
}

.cart-product-name {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: rgb(75, 73, 73);

}

.addition {
    max-width: 275px;
    word-break: break-all;

    color: rgb(75, 73, 73);
}

.product-variation-position {
    margin-left: 5px;
    font-size: 18px;
    font-weight: 400;
    opacity: .8;
}

.counter-cart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 22px;
    z-index: 1;
}

.count-minus-cart {
    padding: 5px 16px;
    background-color: #8eaf2b7d;
    border-radius: 23px 0 0 23px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.count-minus-cart:hover {
    background-color: #80d13adc;
}

.count-plus-cart {
    padding: 5px 14px;
    background-color: #8eaf2b7d;
    border-radius: 0 23px 23px 0;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.count-plus-cart:hover {
    background-color: #80d13adc;
}

.counter-cart {
    padding: 5px 14px;
    background-color: #8eaf2b7d;
    font-size: 20px;
    font-weight: 400;


}

.total-price {
    color: rgb(75, 73, 73);
    margin-left: 40px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    font-family: sans-serif;
    width: 110px;
}

input[type="text"] {
    width: 95%;
    padding: 12px;
    border: 1px solid #8eaf2b7d;
    border-radius: 7px 7px 7px 7px;
    display: block;
    background: none;
    margin: 20px 20px 0px 20px;
    color: rgb(75, 73, 73);
}

::-webkit-input-placeholder {
    color: rgb(75, 73, 73);
}

::-moz-placeholder {
    color: rgb(75, 73, 73);
}

/* Firefox 19+ */
:-moz-placeholder {
    color: rgb(75, 73, 73);
}

/* Firefox 18- */
:-ms-input-placeholder {
    color: rgb(75, 73, 73);
}

textarea {
    display: block;
    width: 95%;
    padding: 8px 16px;
    border: 1px solid #8eaf2b7d;
    border-radius: 7px 7px 7px 7px;
    margin: 20px 20px 0px 20px;
    background: none;
    resize: none;
    height: 60px;
    color: rgb(75, 73, 73);
}

.card-adress {
    display: flex;
    justify-content: center;
}

.card-adress input {
    width: 25%;
}

.payment-wrap {
    border: 1px solid #8eaf2b7d;
    border-radius: 7px 7px 7px 7px;
    margin: 20px 15px 15px 20px;
    font-family: Arial,
        Helvetica,
        sans-serif;
    ;
}

.payment-product-add-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding-left: 45px;
}

.payment-check-style {
    position: absolute;
    width: 16px;
    height: 16px;
    border: 2px solid #8eaf2b7d;
    border-radius: 50%;
    margin-left: -26px;
    cursor: pointer;
}

.payment-product-add-checkbox:checked+.payment-check-style::before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #8eaf2b7d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.payment-input-lable {
    padding-left: 50px;
    font-family: sans-serif;
    font-size: 14px;
    color: rgb(75, 73, 73);
    cursor: pointer;
}

.payment {
    display: flex;
    justify-content: center;

}

.payment-method {
    margin-top: 15px;
}

.total-price-h4 {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 20px;
}

.min-cost-order {
    color: rgb(75, 73, 73);
    text-align: center;
    margin-bottom: 10px;
}

.price-sale {
    color: rgb(75, 73, 73);
    text-align: center;
}

.order-button {

    padding: 10px 80px 10px 80px;
    background-color: #d9eb54fa;
    border-radius: 23px 23px 23px 23px;
    color: black;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Shizuru', cursive;
    cursor: pointer;
    border: none;
    outline: none;
    margin: 15px 0 15px 0;
    margin-left: 200px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.order-button:hover {
    background-color: #80d13adc;
}

.product-discription {
    position: absolute;
    left: 0;
    background: rgba(252, 252, 250, 1.1);
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    z-index: 5;
    max-height: 300px;
    transform: translateY(-100%);
    max-width: 282px;
    word-break: break-all;
    font-family: Arial,
        Helvetica,
        sans-serif;
    font-size: 15px;
    color: #484641;
    display: none;
}

.discription-wrap {
    display: block;
    padding: 0 24px 10px 20px;
    line-height: 20px;
    color: #756f6f;
    position: relative;
    cursor: pointer;
    font-family: Arial,
        Helvetica,
        sans-serif;
    ;
}

.discription-wrap:hover {
    color: #fdbf00;
}

.discription-wrap svg {
    position: absolute;
    right: 100px;
    top: 27%;
    transform: translateX(22%);
    width: 20px;
    height: 20px;
}

.lds-roller {
    display: none;
    position: absolute;
    width: 220px;
    height: 220px;
    top: 250%;
    left: 50%;
    transform: translate(-50px, -50px);
    z-index: 11;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: rgb(156, 205, 42);
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width:1020px) {
    .about {
        &__title-text {
            font-size: 21px;
            line-height: 30px;
        }

        &__pizerii {
            width: 500px;

        }
    }
}

@media (max-width:850px) {
    .about {
        &__title-text {
            font-size: 18px;
            line-height: 25px;
        }

        &__text-about {
            padding: 0 10px;
        }

        &__wrapp {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }

        &__text {
            margin-bottom: 7px;
        }
    }
}



@media (max-width:700px) {
    .container-title {
        font-size: 27px;
        line-height: 30px;
    }

    .menu__link-img {
        width: 100px;
        height: 100px;
        left: 157px;
    }

    .menu__link-name {
        font-size: 24px;
        top: 53px;
        width: 300px;
    }

    .menu__card-link:nth-child(2) {
        top: 0;
    }

    .menu__card-link:nth-child(4) {
        top: 0;
    }

}

@media (max-width:516px) {
    .about {
        &__pizerii {
            width: 450px;
        }
    }
}

@media (max-width:476px) {
    .about {
        &__pizerii {
            width: 340px;
        }
    }

}