@import 'blocks/_global';
@import 'blocks/_reset';
@import 'blocks/_vars';

.section {
    &__inner {
        display: flex;
        gap: 30px;
    }

    &__sale {
        padding: 15px 15px;
    }

    &__sale-img {
        width: 540px;
        height: 250px;
    }

    &__row {
        height: 1px;
        width: 100%;
        background-color: #bdbdbdc2;
        margin-top: 24px;
        margin-bottom: 24px;

    }

    &__sale-text {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        color: $wite;
        line-height: 34px;

    }

    &__sale-link {
        color: $yellow;
    }

    &__sale-title {
        font-family: Roboto;
        font-size: 40px;
        font-weight: 600;
        color: $wite;
        padding-left: 15px;
    }

    &__sale-description {
        font-family: Roboto;
        font-size: 18px;
        line-height: 24px;
        color: $wite;
        padding: 15px;
    }

    &__sale-info {
        margin-bottom: 40px;
    }
}

@media (max-width:950px) {
    .section__sale-img {
        width: 499px;
        height: 200px;

    }

    .section__sale-text {
        font-size: 16px;
        line-height: 28px;
    }

    .product__title-line {
        font-size: 30px;
        padding-left: 15px;
    }
}

@media (max-width:880px) {
    .section__inner {
        flex-wrap: wrap;
        justify-content: center;
    }

    .section__sale-img {
        width: 540px;
        height: 250px;
    }
}

@media (max-width:577px) {
    .section__sale-img {
        width: 340px;
        height: 170px;
        object-fit: cover;
    }

    .section__sale {
        padding: 5px 5px;
    }

    .section__sale-text {
        line-height: 24px;
    }

    .section__sale-title {
        font-size: 24px;
    }
}